@import "../../scss/mixins";
@import "../../scss/variables";

.filtersWrp {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 10px;
  background: #f8f8f7;
  border-radius: 20px;
  padding: 28px 20px;
  margin-bottom: 20px;
  @media screen and (min-width: $breakpoint-tablet) {
  }
  @media screen and (min-width: $breakpoint-desktop) {
  }
}

.filterBox {
  position: relative;
  padding-left: 10px;
  padding-top: 6px;
  padding-bottom: 6px;
  border-radius: 10px;
  background: $secondaryBgColor;
  color: #1d1d1d;
  border: 2px solid transparent;
  @include font-size(16, 400, 24);
  cursor: pointer;
  &:hover,
  &:focus {
    border: 2px solid #fbe0dc;
  }
  @media screen and (min-width: $breakpoint-tablet) {
    // height: 48px;
    // padding: 0 8px;
    font-size: 18px;
  }
  @media screen and (min-width: $breakpoint-desktop) {
  }
}
.filtersTitle {
  color: #8c8c8c;
  @include font-size(10, 500, 18);
  text-transform: uppercase;
  @media screen and (min-width: $breakpoint-tablet) {
    font-size: 14px;
    font-weight: 500;
    line-height: 1.28em;
  }
  @media screen and (min-width: $breakpoint-desktop) {
  }
}

.filterBtn {
  border: transparent;
  background-color: inherit;
  position: absolute;
  top: 57%;
  transform: translateY(-50%);
  right: 3px;
  padding: 0;
}

.dropDowList {
  position: absolute;
  display: flex;
  gap: 8px;
  z-index: 8;
  top: 45px;
  left: 0;
  width: 100%;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  padding: 20px;
  border-radius: 10px;
  background: $secondaryBgColor;
  color: #1d1d1d;
  font-size: 18px;
  font-weight: 500;
  line-height: 1.11em;
  transition: transform 500ms cubic-bezier(0.39, 0.575, 0.565, 1),
    opacity 500ms cubic-bezier(0.39, 0.575, 0.565, 1);
  span {
    // padding-left: 16px;
    color: $secondaryTextColor;
    cursor: pointer;
  }
}
.dropDownItem {
  cursor: pointer;
  //   padding-left: 16px;
}

.active {
  -webkit-transform: rotateX(0deg);
  transform: rotateX(0deg);
  -webkit-transform-origin: top;
  transform-origin: top;
  opacity: 1;
  transition: transform 500ms cubic-bezier(0.39, 0.575, 0.565, 1),
    opacity 500ms cubic-bezier(0.39, 0.575, 0.565, 1);
}

.hidden {
  -webkit-transform: rotateX(70deg);
  transform: rotateX(70deg);
  -webkit-transform-origin: top;
  transform-origin: top;
  opacity: 0;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.filterLetterBtn {
  width: 100%;
  padding: 6px 9px;
  border-radius: 10px;
  background: #f8f8f7;
  border: 2px solid transparent;
  svg {
    fill: #8c8c8c;
  }
  &:hover,
  &:focus {
    border: 2px solid $secondaryAccentColor;
    background: #f8f8f7;
    svg {
      fill: $mainAccentColor;
    }
  }
}

.updateBtn {
  width: 40px;
  height: 40px;
  border-radius: 10px;
  background-color: $secondaryBgColor;
  svg {
    fill: $mainAccentColor;
  }
  &:hover,
  &:focus {
    background: $mainAccentColor;
    fill: $secondaryBgColor;
    svg {
      fill: $secondaryBgColor;
    }
  }
}

.lastFilterWrp {
  display: flex;
  align-items: flex-end;
  gap: 10px;
}
