@import "../../scss/mixins";
@import "../../scss/variables";

.heroWrp {
  margin-top: 80px;
  h2 {
    color: $mainTextColor;
    @include font-size(44, 500, 58);
    margin-bottom: 10px;
  }
  h3 {
    color: $secondaryTextColor;
    @include font-size(20, 400);
    margin-bottom: 60px;
  }
  p {
    color: $mainTextColor;
    @include font-size(20, 500);
    margin-bottom: 20px;
  }
}
.heroFix {
  position: sticky;
  top: 0;
}

.navigation {
  display: flex;
  gap: 16px;
  span {
    display: flex;
    justify-content: center;
    margin-top: 200px;
    padding: 10px 40px;
    border-radius: 10px;
    background: $secondaryBgColor;
    color: $mainAccentColor;
    text-transform: uppercase;
    @include font-size(12, 500, 16);
    letter-spacing: 2px;
  }
}
.votingLink {
  width: 130px;
  height: 190px;
  background-color: #b4b7ff;
  border-radius: 20px;
  border: 4px solid rgba(255, 255, 255, 0.6);
  background-image: url(../../assets/img/header/vote-table.png);
  background-repeat: no-repeat;
  &:hover,
  &:focus {
    border-color: $secondaryBgColor;
    span {
      background-color: $secondaryAccentColor;
    }
  }
  &[aria-current="page"] {
    border-color: $secondaryAccentColor;
    span {
      color: $secondaryBgColor;
      background-color: $mainAccentColor;
    }
  }
}
.breedsLink {
  width: 130px;
  height: 190px;
  background-color: #97eab9;
  border-radius: 20px;
  border: 4px solid rgba(255, 255, 255, 0.6);
  background-image: url(../../assets/img/header/pet-breeds.png);
  background-repeat: no-repeat;
  &:hover,
  &:focus {
    border-color: $secondaryBgColor;
    span {
      background-color: $secondaryAccentColor;
    }
  }
  &[aria-current="page"] {
    border-color: $secondaryAccentColor;
    span {
      color: $secondaryBgColor;
      background-color: $mainAccentColor;
    }
  }
}

.galleryLink {
  width: 130px;
  height: 190px;
  background-color: #ffd280;
  border-radius: 20px;
  border: 4px solid rgba(255, 255, 255, 0.6);
  background-image: url(../../assets/img/header/images-search.png);
  background-repeat: no-repeat;
  &:hover,
  &:focus {
    border-color: $secondaryBgColor;
    span {
      background-color: $secondaryAccentColor;
    }
  }
  &[aria-current="page"] {
    border-color: $secondaryAccentColor;
    span {
      color: $secondaryBgColor;
      background-color: $mainAccentColor;
    }
  }
}
