@import "../../scss/mixins";
@import "../../scss/variables";

.goBackLink {
  width: 40px;
  height: 40px;
  border-radius: 10px;
  background-color: $secondaryAccentColor;
  svg {
    fill: $mainAccentColor;
    display: flex;
    justify-content: center;
    margin-top: 10px;
    margin-left: 10px;
  }
  &:hover,
  &:focus {
    background: $mainAccentColor;
    fill: $secondaryBgColor;
    svg {
      fill: $secondaryBgColor;
    }
  }
}
