@import "../../scss/mixins";
@import "../../scss/variables";

//   @media screen and (min-width: $breakpoint-tablet) {
//   }
//   @media screen and (min-width: $breakpoint-desktop) {
//   }

.header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
  height: 60px;
  @media screen and (min-width: $breakpoint-tablet) {
  }
  @media screen and (min-width: $breakpoint-desktop) {
  }
}
.headerNavWrp {
  display: flex;
  align-items: center;
  gap: 10px;
}
.headerNav {
  display: flex;
  gap: 10px;
}
.pageLink {
  width: 60px;
  height: 60px;
  border-radius: 20px;
  background: $secondaryBgColor;
  svg {
    fill: $mainAccentColor;
    display: flex;
    justify-content: center;
    margin-top: 15px;
    margin-left: 15px;
  }
  &:hover,
  &:focus {
    background: $secondaryAccentColor;
  }
  &[aria-current="page"] {
    background: $mainAccentColor;
    svg {
      fill: $secondaryBgColor;
      // background-color: $mainAccentColor;
    }
  }
}

.logoWrp {
  display: inline-flex;
  height: 66px;
}
