@import "../../scss/mixins";
@import "../../scss/variables";

.breedsPageContainer {
  width: 100%;
  min-height: 100vh;
  padding: 20px;
  border-radius: 20px;
  background-color: $secondaryBgColor;
}

.headContainer {
  display: flex;
  gap: 10px;
  margin-bottom: 20px;
}

.votingButtonWrp {
  display: flex;
  position: absolute;
  right: 50px;
  top: 100px;
}

.votingButtonLike {
  background-color: #97eab9;
  padding: 20px 25px;
  border: 3px solid $secondaryBgColor;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
  svg {
    fill: $secondaryBgColor;
  }
  &:hover,
  &:focus {
    background: #97eab94d;
    svg {
      fill: #97eab9;
    }
  }
}

.votingButtonFavourite {
  background-color: $mainAccentColor;
  padding: 20px 25px;
  border: 3px solid $secondaryBgColor;
  svg {
    fill: $secondaryBgColor;
  }
  &:hover,
  &:focus {
    background: $secondaryAccentColor;
    svg {
      fill: $mainAccentColor;
    }
  }
}

.votingButtonDislike {
  background-color: #ffd280;
  padding: 20px 25px;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
  border: 3px solid $secondaryBgColor;
  svg {
    fill: $secondaryBgColor;
  }
  &:hover,
  &:focus {
    background: #ffd2804d;
    svg {
      fill: #ffd280;
    }
  }
}

.galleryGrid {
  @apply w-[640px] auto-rows-[150px] mx-auto grid grid-cols-3 gap-4;
  li {
    border-radius: 30px;
  }
  li:nth-child(10n + 1),
  li:nth-child(10n + 8) {
    @apply row-span-2;
  }
  li:nth-child(10n + 4),
  li:nth-child(10n + 9) {
    @apply row-span-2 col-span-2;
  }
}

.breedImg {
  width: 100%;
  height: 100%;
  border-radius: 30px;
}
.breedElement {
  position: relative;
  overflow: hidden;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover .breedOverlay,
  &:focus .breedOverlay {
    transform: translateY(0);
  }
}
.breedOverlay {
  position: absolute;
  display: flex;
  align-items: flex-end;
  overflow: hidden;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(255, 134, 142, 0.6);
  color: $secondaryBgColor;
  transform: translateY(100%);
  transition: transform 500ms cubic-bezier(0.4, 0, 0.2, 1);
}

.breedName {
  margin: 0 auto;
  margin-bottom: 20px;
  color: $mainAccentColor;
  background-color: $secondaryBgColor;
  text-align: center;
  @include font-size(14, 400, 24);
  padding: 5px 42px;
  border-radius: 10px;
}
