@import "../../scss/mixins";
@import "../../scss/variables";

.votingPageContainer {
  width: 100%;
  padding: 20px;
  border-radius: 20px;
  background-color: $secondaryBgColor;
}

.headContainer {
  display: flex;
  align-items: flex-start;
  gap: 10px;
  margin-bottom: 20px;
}
