@import "../../scss/mixins";
@import "../../scss/variables";

.homeContainer {
  position: relative;
  width: 680px;
  min-height: 840px;
  border-radius: 20px;
  background: #fbe0dc;
  &::before {
    content: "";
    width: 775px;
    min-height: 900px;
    position: absolute;
    left: 49%;
    top: 50%;
    transform: translate(-50%, -50%);
    background-image: url(../../assets/img/main.png);
  }
}
